@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #74ebd5, #ACB6E5);
}

.box {
  background: #17a589;
  padding: 35px 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  width: 340px;
}

.box h2 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  color: #fff;
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  outline: none;
  text-align: center;
}

button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background: #0056b3;
}

#result {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  margin-top: 15px;
}